.popular-card {
  width: 17rem;
  height: 28rem;
  display: flex;
  align-items: flex-end;
  background-color: black;
  border-radius: 0.7rem;
  border: 5px solid white;

  @media screen and (max-width: $phone) {
    width: 15rem;
    height: 29rem;
  }
}

.popular-card-content {
  color: white;
  max-width: 8rem;
  @extend %flex-col;
  gap: 2rem;
  margin: 0 0 2rem 2rem;
  position: absolute;

  h1 {
    font-size: 2rem;
    font-family: 'Alexandria', sans-serif;
    font-weight: 600;
  }

  p {
    line-height: 2rem;
    span {
      color: $DOColor;
    }
  }
}
